@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}
.gradient-bg{
    background:linear-gradient(transparent, #161616);
    color: #fff;
    padding-top:5rem;
    position:absolute;
    bottom:0;
}