@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}
body{
    padding-top:3.5rem;
    position: relative;
}
#watchlist{
    overflow: hidden;
}
#watchlist .table-container{
    width: 100vw;
    overflow-x: auto;
}
#watchlist .table-container > table{
    min-width: 600px;
}
.gradient-bg{
    background:linear-gradient(transparent, #161616);
    color: #fff;
    padding-top:5rem;
    position:absolute;
    bottom:0;
}
.movie-card{
    background-color:rgb(162, 168, 175) ; ;
    animation: load 0.8s linear infinite alternate-reverse;
}
#footer{
    background-color: rgb(233, 236, 238);
    margin-top: 5rem;
}
@keyframes load {
    0%{
        background-color: rgb(212, 212, 212);
    }100%{
        background-color:rgb(162, 168, 175) ;
    }
}